.quote {
  width: 95%;
  height: 100%;

  display: flex;
  flex-direction: column;

  margin: auto;

  text-align: center;
}
.quote h1 {
  width: 80%;
  font-size: 20px;
  font-weight: bold;

  margin: auto auto 0;
}
.quote .newQuoteBTN {
  display: block;
  width: 120px;
  height: 40px;

  line-height: 40px;

  text-align: center;

  background-color: var(--C950);
  color: white;
  margin: auto auto 10px;

  border-radius: 10px;
}
